.color1 {
	background-color: #4ECCAD;
	border-color: #4ECCAD;
}

.text-color1 {
	color: #4ECCAD;
}

.counter {
	display: table-cell;
	margin: 5%;
	font-size: 30px;
	background-color: #6FD4E4;
	width: 100px;
	border-radius: 10%;
	height: 100px;
	vertical-align: middle;
	text-align: center;
	color: #fff;
}

.counterFinalIcon {
	display: table-cell;
	margin: 5%;
	font-size: 30px;
	background-color: #6FD4E4;
	width: 100px;
	border-radius: 50%;
	height: 100px;
	vertical-align: middle;
	text-align: center;
	color: #fff;
}

.counterText {
	display: table-footer-group;
	font-size: 15px;
	width: 100px;
	height: 100px;
	vertical-align: middle;
	text-align: center;
	color: #6FD4E4;
}

.primaryColor-bg {
	background-color: #006983 !important;
}

.primaryColor {
	color: #006983 !important;
}

.secondaryColor-bg {
	background-color: #6FD4E4 !important;
}

.secondaryColor {
	color: #6FD4E4 !important;
}

.thirdColor-bg{
	background-color: #675C53 !important;
}

.mozarabe-yellow-bg{
	background-color: #ffea00 !important;
}

.mozarabe-blue-bg{
	background-color: #0003a1 !important;
}

.cenefa{
	 background-image: url("../../images/cenefa.png");
}

.greyColorTR2 {
	background-color: #424242 !important;
	color: #fff !important;
}

.greyColorTR2-text {
	color: #424242 !important;
}

.primaryFont {
	font-family: BreuerText;
}

.secondaryFont {
	font-family: BreuerText;
}

.textCenter {
	text-align: center;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
	color: #006983 !important;
	background-color: #fff;
}

.sponsor-principal {
	
}

.sponsor-alta {
	width: 40% !important;
}

.sponsor-media {
	width: 20% !important;
}

.sponsor-baja {
	
}

.info-container-30 {
	height: 30% !important;
}

.info-container-50 {
	height: 50% !important;
}

nav ul a:hover {
	background-color: #006983;
}

.modal {
	max-height: 100%;
}

.carousel .indicators .indicator-item {
	height: 20px;
	width: 20px;
	background-color: #6FD4E4;
}

.carousel .indicators .indicator-item.active {
	height: 30px;
	width: 30px;
	background-color: #006983;
}

.show {
	display: inline !important;
}

.font40px {
	font-size: 40px !important;
}

.sidenav li:hover {
	background-color: #6FD4E4 !important;
}

.sidenav li>a:hover {
	background-color: #6FD4E4 !important;
	color: white;
}

.floatButtonTop {
	right: auto !important;
	bottom: auto !important;
	color: #006983 !important;
}

.primaryColorImportant {
	color: #006983 !important;
}

.imageFull {
	width: 100%;
}

.btnInscripciones {
	height: auto;
}

.reminderAlert {
	background-color: #424242; /* ffc107 */
	color: #fff;
	border: 2px solid #fff;
	border-radius: 15px;
}

.reminderAlertMain {
	background-color: #fff; /* ffc107 */
	border: 2px solid #424242;
	color: #000;
	border-radius: 15px;
}

.chip {
	display: inline-table;
	width: 100%;
}

.chip:hover {
	background-color: #006983 !important; /* ffc107 */
	color: #fff !important;
}

.imgCartel {
	width: 200px !important;
	height: 200px !important;
}

.fontSize150p {
	font-size: 150%;
}